<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for image in images %}
    <li>
        <a href="{{url_for('viewer', image_name=image['filename'])}}"> {{image['filename']}} </a> 
    </li>
    
    {% endfor %}
</body>
</html>