<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panorama Viwer</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/three.min.js"></script>
  <script src="/static/js/panolens.min.js"></script>
  <script>
    const panoImage = document.querySelector('.pano-image');
const img = '{{image}}';


const panorama = new PANOLENS.ImagePanorama(img);
const viewer = new PANOLENS.Viewer({
    container: panoImage,
    controlBar: false
});

viewer.add( panorama )
  </script>
  <div class="pano-image"></div>

</body>
</html>
